@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    color: #34495E;

    margin: 25px 0 0;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: #E74C3C;

    margin: 5px 0 20px;
}

.github_link {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 20px 0;

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #34495E;

    background: #f0f0f0;
}

.github_link:hover {
    background: #f3f3f3;
}

.github_link:active {
    background: #ededed;
}